

  /* SCROLL MAGIC */
  
  .scrolly {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
  }

  .scrolly > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .scrolly2 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
  }

  .scrolly2 > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .scrolly3 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
  }

  .scrolly3 > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .scrolly4 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
  }

  .scrolly4 > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }



  article {
    padding: 0 1rem;
    z-index: 1;
  }




  .sticky-thing {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: 100%;
    margin: 0;
    background-image: url(img/C2-imagen1.jpg);
    background-size: 100%;
    background-position: 50% 50%;
    z-index: 0;
    top: 0dvh;
    height: 100dvh;
    /* Center everything inside */
   
    transition: 2s;
  }


  .sticky-thing2 {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: 100%;
    margin: 0;
    background-image: url(img/C2-imagen2b.jpg);
    background-size: 100%;
    background-position: 50% 50%;
    z-index: 0;
    top: 0dvh;
    height: 100dvh;
    /* Center everything inside */
   
    transition: 2s;
  }


  .sticky-thing3 {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: 100%;
    margin: 0;
    background-image: url(img/C2-imagen3.jpg);
    background-size: 100%;
    background-position: 50% 50%;
    z-index: 0;
    top: 0dvh;
    height: 100dvh;
    /* Center everything inside */
   
    transition: 2s;
  }

  .sticky-thing4 {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: 100%;
    margin: 0;
    background-image: url(img/C2-imagen10.JPG);
    background-size: 100%;
    background-position: 50% 50%;
    z-index: 0;
    top: 0dvh;
    height: 100dvh;
    /* Center everything inside */
   
    transition: 2s;
  }



  .sticky-thing p {
    padding: 1rem;
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
  }

  .sticky-thing2 p {
    padding: 1rem;
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
  }

  .sticky-thing3 p {
    padding: 1rem;
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
  }

  .sticky-thing4 p {
    padding: 1rem;
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
  }


  .step {
    margin: 0 auto 2rem auto;
    z-index: 2;
  }

  .step2 {
    margin: 0 auto 2rem auto;
    z-index: 2;
  }

  .step3 {
    margin: 0 auto 2rem auto;
    z-index: 2;
  }

  .step4 {
    margin: 0 auto 2rem auto;
    z-index: 2;
  }

  .step:last-child {
    margin-bottom: 0;
  }

  .step2:last-child {
    margin-bottom: 0;
  }

  .step3:last-child {
    margin-bottom: 0;
  }

  .step4:last-child {
    margin-bottom: 0;
  }

  .step.is-active {
    color: #3b3b3b;
    background-color: #D0956033;
  }

  .step2.is-active {
    color: #3b3b3b;
    background-color: #D0956033;
  }

  .step3.is-active {
    color: #3b3b3b;
    background-color: #D0956033;
  }

  .step4.is-active {
    color: #3b3b3b;
    background-color: #D0956033;
  }

  .step p {
    text-align: left;
    padding: 1rem;
  }

  .step2 p {
    text-align: left;
    padding: 1rem;
  }

  .step3 p {
    text-align: left;
    padding: 1rem;
  }

  .step4 p {
    text-align: left;
    padding: 1rem;
  }