body {
    background-color: rgb(224, 219, 213);
}

h3 {
    font-size: 1em;
    opacity: 0.8;
  }

h2 {
    font-size: 1.4em;
    line-height: 2em;
  }

h1 {
    font-size: 3em;
    color: beige;
  }

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    color: #804B2B;
}

p {
 font-size: 1.2em;
 color: rgb(18, 18, 18);  
 font-family: Georgia, 'Times New Roman', Times, serif;
 line-height: 1.6em;
 text-align: left;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  div {
    background-repeat: no-repeat;
  }

 .bloque {
    padding-top: 15vh;

 } 


  /* SCROLL MAGIC */
  
  #scrolly {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
  }

  #scrolly > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  article {
    position: relative;
    padding: 0 1rem;
    
  }

  .sticky-thing {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: 100%;
    margin: 0;
    background-color: rgb(224, 219, 213);
    background-image: url(img/imagen1.jpg);
    background-size: 100%;
    background-position: 50% 50%;
    z-index: 0;
    top: 0vh;
    height: 100vh;
    /* Center everything inside */
   
    transition: 2s;
  }

  .sticky-thing2 {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: 100%;
    margin: 0;
    background-color: rgb(224, 219, 213);
    background-image: url(img/imagenes1.png);
    background-size: 100%;
    background-position: 50% 50%;
    z-index: 0;
    top: 0vh;
    height: 100vh;
    /* Center everything inside */
   
    transition: 2s;
  }


  .sticky-thing3 {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    width: 100%;
    margin: 0;
    background-color: rgb(224, 219, 213);
    background-image: url(img/imagenes2.png);
    background-size: 100%;
    background-position: 50% 50%;
    z-index: 0;
    top: 0vh;
    height: 100vh;
    /* Center everything inside */
   
    transition: 2s;
  }



  .sticky-thing p {
    padding: 1rem;
    font-size: 8rem;
    font-weight: 900;
    color: #fff;
  }

  .step {
    margin: 0 auto 2rem auto;
    
  }

  .step:last-child {
    margin-bottom: 0;
  }

  .step.is-active {
    color: #3b3b3b;
  }

  .step p {
    text-align: left;
    padding: 1rem;
    
  }


      .fantasma {
        opacity: 0;
      }

      .resaltado {
        padding: 4em 0;
        color: #804B2B;
        font-weight: 900;
      }