body {
    background-color: rgb(224, 219, 213);
}

h3 {
    font-size: 1em;
    opacity: 0.8;
  }

h2 {
    font-size: 1.4em;
    line-height: 2em;
  }

h1 {
    font-size: 3em;
    color: beige;
  }

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    color: #804B2B;
}

p {
 font-size: 1.2em;
 color: rgb(18, 18, 18);  
 font-family: Georgia, 'Times New Roman', Times, serif;
 line-height: 1.6em;
 text-align: left;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  div {
    background-repeat: no-repeat;
  }

 .bloque {
    padding-top: 15vh;

 } 


  /* SCROLL MAGIC */
  
  #scrolly {
        position: relative;
        background-color: rgb(224, 219, 213);
        padding: 0rem;
      }

      article {
        position: relative;
        padding: 0;
        max-width: 30rem;
        left: 10%;
      }

      .sticky-thing {
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        width: 100%;
        margin: 0;
        background-color: rgb(224, 219, 213);
        background-image: url(img/gildecastro-sanmartin.jpeg);
        background-size: 100%;
        background-position: 50% 50%;
        z-index: 0;
        top: 0vh;
        height: 100vh;
        /* Center everything inside */
       
        transition: 2s;
      }

      .sticky-thing p {
        padding-left: 15vh;
        padding-top: 15vh;
        font-size: 2rem;
        font-weight: 900;
        color: #2b2b2b;
        filter: drop-shadow(5px 5px 5px #05050566);
        transition: 1s;
      }

      .step {
        margin: 0 auto 90vh auto;
        background-color: rgb(224, 219, 213);
        color: #2b2b2b;
      }

      .step:last-child {
        margin-bottom: 5;
      }

      .step.is-active p {
        background-color: rgb(224, 219, 213);
        color: #2b2b2b;
      }

      .step p {
        text-align: left;
        padding: 1.5em;
        font-size: 1rem;
        background-color: #0f0f0f31;
        color: #505050;
      }


      .fantasma {
        opacity: 0;
      }

      .resaltado {
        padding: 4em 0;
        color: #804B2B;
        font-weight: 900;
      }